* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
.heading {
  background-color: rgb(30, 80, 30);
  border: solid;
  color: whitesmoke;
  text-align: center;
  padding: 0.75rem;
}
.objectives-wrapper {
  background-color: #e1e5f2;
  padding: 1%;
}
.objectives {
  background-color: azure;
  text-align: center;
  justify-content: center;
}
.objectives-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.nada {
  background-color: blue;
}
.nado {
  background-color: rgb(31, 122, 140);
}

.charity-number {
  text-align: end;
  font-size: 0.5em;
}
.footer {
  background: #353535;
  height: 20px;
}
